<div class="container">
  <div class="col-xs-6 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <button type="button" class="custom-btn btn btn-outline-primary" (click)="onBack()">Back</button>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <img
        src="{{ singleLoadedPost.imagePath }}"
        class="rounded img-fluid"
        style="border-radius: 10px"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <p class="h3 text-center">{{ singleLoadedPost.title }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <p>{{ singleLoadedPost.description }}</p>
    </div>
  </div>
  <div class="row">
      <div class="cstm-btns col-xs-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <button type="submit" class="btn btn-success" (click)="onEdit()">Edit</button>
          <button type="button" class="btn btn-danger" (click)="onDelete()">Cancel</button>
      </div>
  </div>
</div>
