.card {
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 0px 38px -12px rgba(153,153,153,1);
  -moz-box-shadow: 0px 0px 38px -12px rgba(153,153,153,1);
  box-shadow: 0px 0px 38px -12px rgba(153,153,153,1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid beige;

  &:hover {
    -webkit-transition: 0.3s;
    transition: 0.1s;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
  }

  img {
    object-fit: cover;
    height: 330px;
  }
}
